body {
    background-image: url("backgroundImage.jpg");
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}


#enterIcon {
position: absolute;
height: 600px;
width: 550px;
margin: 0 auto;
top: 50%;
left: 50%;
margin-left: -300px;
margin-top: -300px;
}

#enterIcon:hover{
	background-image: url("iconRed.png")
}
