@font-face {
    font-family: bebasNeueBold;
    src: url("bebasNeueBold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: bebasNeueBook;
    src: url("bebasNeueBook-webfont.ttf") format("truetype");
}

@font-face {
    font-family: bebasNeueRegular;
    src: url("bebasNeueRegular-webfont.ttf") format("truetype");
}

h1 {
    font-family: bebasNeueBold;
}

h2 {
    font-family: bebasNeueRegular;
}

h3 {
    font-family: bebasNeueBook;
}
