body {
    background-color: #7acdc8;
}

@font-face {
    font-family: bebasNeueBold;
    src: url('bebasNeueBold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: bebasNeueBook;
    src: url('bebasNeueBook-webfont.ttf') format('truetype');
}

@font-face {
    font-family: bebasNeueRegular;
    src: url('bebasNeueRegular-webfont.ttf') format('truetype');
}

p1 {
    font-family: bebasNeueBold;
    font-size: 40px;
}

p2 {
    font-family: bebasNeueRegular;
    font-size: 40px;
}

p3 {
    font-family: bebasNeueBook;
    font-size: 40px;
}